body {
	background-color: black;
	color: white;
	margin: 0px;
}

.bar {
	float: left;
	background-color: red;
	width: 20vw;
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerbar {
	padding: 0px;

}

#player {
	float: left;
	display: block;
	width: 80vw;
	height: 95vh;
	background-color: green;
}

.seekbar {
	float: left;
	display: block;
	width: 80vw;
	height: 5vh;
	background-color: yellow;
}